<div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
    <a href="/services/{{ posts[0].slug }}" class="sm:col-span-3 col-span-1">
      <div
        class="rounded-none outline outline-1 outline-black dark:outline-gray-300 hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black overflow-hidden me-[6px] mb-[6px] shadow-[5px_5px_0px_1px_rgba(0,0,0,0.5)] dark:shadow-[5px_5px_0px_1px_rgba(255,255,255,0.25)]"
      >
        <div class="w-full">
          <img
            class="object-cover w-full sm:aspect-[5/2] aspect-[3/2]"
            src="{{ posts[0].image }}"
            alt="Image for {{ posts[0].title }}"
          />
        </div>
        <div class="px-6 py-4 sm:min-h-0 min-h-24 max-h-24 sm:text-center text-left">
          <div class="font-bold text-xl mb-2 leading-5">{{ posts[0].title }}</div>
          <p>{{ posts[0].summary }}</p>
        </div>
      </div>
    </a>
  {% for post in posts[1:] %}
    <a href="/services/{{ post.slug }}">
      <div
        class="rounded-none outline outline-1 outline-black dark:outline-gray-300 hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black overflow-hidden me-[6px] mb-[6px] shadow-[5px_5px_0px_1px_rgba(0,0,0,0.5)] dark:shadow-[5px_5px_0px_1px_rgba(255,255,255,0.25)]"
      >
        <div class="w-full">
          <img
            class="object-cover object-left-top w-full aspect-[3/2]"
            src="{{ post.image }}"
            alt="Image for {{ post.title }}"
          />
        </div>
        <div class="px-6 py-4 min-h-24 max-h-24">
          <div class="font-bold text-xl mb-2 leading-5">{{ post.title }}</div>
          <p>{{ post.summary }}</p>
        </div>
      </div>
    </a>
  {% endfor %}
</div>
