{% extends "layout.html" %}
{% from "components/fieldset.html" import fieldset %}

{% block content %}
  <article class="">
    <h2 class="m-0 text-2xl">Curated Local Experts</h2>
    <h3 class="italic text-lg m-0 font-normal">Discover trusted local experts for all your needs, handpicked just for you</h3>
    <div class="h-4"></div>
  </article>
  <div class="flex flex-col gap-4">
    <!-- {% call fieldset("whoami") %} -->
      <!-- <div class="flex flex-col gap-3 text-lg">
        <img
          src="/assets/real-estate.jpg"
          class="h-[350px] object-cover"
        />
      </div> -->
    <!-- {% endcall %} -->
    <!-- {% call fieldset("Curated local services") %} -->
      {{ lists["services"]|safe }}
    <!-- {% endcall %} -->
  </div>
{% endblock %}
